<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Provide dynamic Product ID via '*' to allow upgrades -->
  <Product Id="*" Name="PyxCloud CLI" Language="1033" Version="$(var.Version)" Manufacturer="PyxCloud" UpgradeCode="ea8ea73e-3f6b-4e8c-8fdf-3a216cb45f78">
    
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Program Files Folder -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="PyxCloud">
          <Component Id="PyxCloudCLI" Guid="*">
            <!-- Install the Executable -->
            <File Id="PyxcloudExe" Name="pyxcloud.exe" Source="$(var.BinaryPath)" KeyPath="yes" />

            <!-- PATH modification via wixl is not supported, this relies purely on the URL protocol scheme -->

            <!-- Register Custom URL Protocol Scheme (pyxcloud://) -->
            <RegistryValue Root="HKCR" Key="pyxcloud" Type="string" Value="URL:PyxCloud Protocol" />
            <RegistryValue Root="HKCR" Key="pyxcloud" Type="string" Name="URL Protocol" Value="" />
            <RegistryValue Root="HKCR" Key="pyxcloud\DefaultIcon" Type="string" Value="[INSTALLFOLDER]pyxcloud.exe,1" />
            <RegistryValue Root="HKCR" Key="pyxcloud\shell\open\command" Type="string" Value="&quot;[INSTALLFOLDER]pyxcloud.exe&quot; &quot;%1&quot;" />
            
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="PyxCloud CLI Core" Level="1">
      <ComponentRef Id="PyxCloudCLI" />
    </Feature>

  </Product>
</Wix>
